* {
    font-family: 'Manrope', sans-serif;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
}

.matchdays-item > .card-body {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
}
.matchdays-item::after {
    content: '';
}
.matchdays-item .group-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.matchdays-item .group-title p {
    transform: rotate(-90deg) translateY(-30%);
}

.match-item .card-body {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-content: space-between;
}
.match-item .score {
    text-align: center;
}
.match-item .away {
    text-align: right;
}

.bracket {
    font-size: 12px;
}
.bracket .stage {

}

.result {
    margin-top: calc(50px + 2.5rem);
}
.result .team {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, calc(-100% - 1rem));
}

.bracket-top {
    display: flex;
    gap: 3rem;
}
.bracket-main {
    display: flex;
    gap: 3rem;
}
.bracket-label, .bracket-round {
    text-transform: capitalize;
    flex: 1;
    text-align: center;
}
.bracket-label.final, .bracket-round.final {
    flex: 2;
}
.bracket-label {
    padding: 0.5rem;
    white-space: nowrap;
    border-radius: 4px;
}
.bracket-round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bracket-game {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
}
.bracket-game .card {
    flex: 1;
    z-index: 9;
}
.bracket-game::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    width: calc(3rem + 50%);
    height: 3px;
    background: #DDD;
}
.bracket-game::after {
    content: '';
    position: absolute;
    right: calc(-3rem - 50%);
    top: 50%;
    transform: translate(100%, -1.5px);
    width: 3px;
    height: 50%;
    background: #DDD;
}
.bracket-game:nth-child(even)::after {
    top: unset;
    bottom: 50%;
    transform: translate(100%, 1.5px);
}
.bracket-right .bracket-game::before {
    right: unset;
    left: 0;
    transform: translate(-100%, -50%);
}
.bracket-right .bracket-game::after {
    right: unset;
    left: calc(-3rem - 50%);
    transform: translate(-100%, -1.5px);
}
.bracket-right .bracket-game:nth-child(even)::after {
    transform: translate(-100%, 1.5px);
}
.bracket-round.semi-final .bracket-game::before {
    /*width: calc(4rem + 50%);*/
    width: 4rem;
}
.bracket-round.semi-final .bracket-game::after, .bracket-third-place .bracket-game::after, .bracket-third-place .bracket-game::before {
    all: unset;
}
.bracket-third-place {
    flex: 2;
    display: flex;
    align-items: center;
}
.bracket-final {
    z-index: 9;
}

.bracket-third-place .bracket-game {
    margin: 1rem 0 0;
}
.lose {
    opacity: 0.5;
}

.bracket-round.final {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

    